{{ partial "header.html" . }}

<br>

<a href="{{ .Site.BaseURL }}">Page d'accueil</a>

<h1>{{ .Title }}</h1>

<p>Ajouté le {{ dateFormat "02-01-2006" (.Param "created_at") }}
{{ if ne (.Param "updated_at") (.Param "created_at") }}
<br>Modifié le {{ dateFormat "02-01-2006" (.Param "updated_at") }}
{{ end }}
</p>

{{ .Content }}

{{ partial "footer.html" . }}