<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}{{ if ne .Title "_Index" }} - {{ .Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/css.css">
</head>

<body>

<pre>
 __                      __   __          __                   
|  |--.-----.-----.-----|  |_|__|  .-----|  |--.-----.--.--.--.
|  _  |  _  |  _  |__ --|   _|  |__|__ --|     |  _  |  |  |  |
|_____|_____|_____|_____|____|__|__|_____|__|__|_____|________|
</pre>